@media screen and (max-width: 480px) {
  .lion{
    float: left;
    border:3px solid orange;
    width: 100px;
    margin:3px;
    background-color: #F0F8FF;
    position: relative;
    }

  .lion img{
    width:90px;
    padding:5px;
  }

  .lion p{
    padding:10px;
    color:red;
    font-size: 8px;
  }

  .tiger{
    float: left;
    border:3px solid orange;
    width: 100px;
    margin:3px;
    background-color: #F0F8FF;
    position: relative;

    }

  .tiger img{
    width:90px;
    padding:5px;
  }

  .tiger p{
    padding:10px;
    color:red;
    font-size: 8px;
  }

  .elephant{
    float: left;
    border:3px solid orange;
    width: 100px;
    margin:3px;
    background-color: #F0F8FF;
    position: relative;
    }

  .elephant img{
    width:90px;
    padding:5px;
  }

  .elephant p{
    padding:10px;
    color:red;
    font-size: 8px;
  }
  .panda{
    float: left;
    border:3px solid orange;
    width: 100px;
    margin:3px;
    background-color: #F0F8FF;
    position: relative;
    }

  .panda img{
    width:90px;
    padding:5px;
  }

  .panda p{
    padding:10px;
    color:red;
    font-size: 8px;
  }

}

@media screen and (min-width: 480px){

  .lion{
    float:left;
    margin:10px;
    width:200px;
    padding:10px;
    border: 10px solid green;
    background-color: #F0F8FF;
  }

  .lion img{
    width:180px;
  }

  .lion p{
    padding: 10px;
  }

  .tiger{
    padding: 10px;
    float:left;
    margin:10px;
    width: 200px;
    border: 10px solid orange;
    background-color: #F0F8FF;
  }

  .tiger img{
    width: 180px;
  }

  .tiger p{
    padding: 10px;
  }

  .elephant{
    padding: 10px;
    float:left;
    margin:10px;
    width:200px;
    border: 10px solid grey;
    background-color: #F0F8FF;

  }

  .elephant img{
    width:180px
  }

  .elephant p{
    padding: 10px;
  }

  .panda{
    padding: 10px;
    float:left;
    margin:10px;
    width:200px;
    border: 10px solid red;
    background-color:#F0F8FF;
  }

  .panda img{
    width:180px;
  }

  .panda p{
    padding:10px;
  }
}
